<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="icon" href="../media/logo.ico" type="image/x-icon">
<title>IT For Hire</title>