<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
<header>
  <%- include('../partials/header'); %>
</header>

<main>
	<section class="welcome">
				<div class="container">
					<img src="media/main.png" alt="Example Image">
					<div class="caption">
						<h2>Welcome to IT For Hire</h2>
						<p>Find your dream IT job or post your IT job to find the right candidate for your company.</p>
						<a href="login" class="main-button">Get Started</a>
					</div>
				</div>
			</section>

			<section class="features">
				<h3>Our Features</h3>
				<ul>
					<li>
						<img src="media/search.png" alt="Search Icon">
						<h4>Browse Jobs</h4>
						<p>- Browse through our extensive list of IT jobs to find the right fit for you.</p>
					</li>
					<li>
						<img src="media/post.png" alt="Post Icon">
						<h4>Post a Job</h4>
						<p>- Looking for a new team member? Post your IT job on our site and reach qualified candidates.</p>
					</li>
					<li>
						<img src="media/apply.png" alt="Apply Icon">
						<h4>Easy Application Process</h4>
						<p>- Applying for IT jobs has never been easier. Simply upload your resume and apply with one click.</p>
					</li>
				</ul>
			</section>

			<section class="about">
				<h3>About IT For Hire</h3>
				<p>"IT For Hire is the premier job portal for the IT industry. We connect qualified candidates with top companies and organizations looking for talented IT professionals."</p>
				<a href="about" class="button">Learn More</a>
			</section>

			<section>
				<h3>What Our Users Say</h3>
				<blockquote>
					<p>"IT For Hire helped me find my dream job in the IT industry. I highly recommend this site to anyone looking for a new career."</p>
					<cite>- Gyuhwan Choi, Senior Developer</cite>
				</blockquote>
				<blockquote>
					<p>"Posting our IT job on IT For Hire was easy and effective. We quickly found the right candidate for our team."</p>
					<cite>- Angie Iturbide, HR Manager</cite>
				</blockquote>
				<blockquote>
					<p>"Finding the right candidate for your IT job is like finding a needle in a haystack. With IT for Hire, you can save time and money by connecting with the best talent in the industry."</p>
					<cite>- Sean Khuon, CEO of Illinois Tech.</cite>
				</blockquote>
			</section>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>