<!DOCTYPE html>
<html lang="en">


<head>
  <%- include('../partials/head'); %>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	    <meta name="google-signin-client_id"
      content="977570761979-ef0eu0u7di046smv9squ743sgla8iu7h.apps.googleusercontent.com">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>

<body class="login">

<header>
    <%- include('../partials/header'); %>
</header>



<main>
    <div class="login-box">
      <div class="logo">
        <img src="media/logo.png" alt="Logo">
      </div>
      <h1>Login</h1>
      <form>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
				<input type="submit" value="Log In">
				<center><p> OR </p></center>
      </form>


      <div id="g_id_onload" data-client_id="977570761979-ef0eu0u7di046smv9squ743sgla8iu7h.apps.googleusercontent.com"
        data-context="signin" data-ux_mode="popup" data-callback="handleCredentialResponse" data-auto_prompt="false">
      </div>
      <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline"
        data-text="signin_with" data-size="large" data-logo_alignment="left">
      </div>
    </div>

		<script>
  function decodeJwtResponse(token) {
    let base64Url = token.split('.')[1]
    let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
    let jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
      return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
    }).join(''));
    return JSON.parse(jsonPayload)
  }

let responsePayload;

function handleCredentialResponse(response) {
  // decodeJwtResponse() is a custom function defined by you
  // to decode the credential response.
  responsePayload = decodeJwtResponse(response.credential);

  console.log("ID: " + responsePayload.sub);
  console.log('Full Name: ' + responsePayload.name);
  console.log('Given Name: ' + responsePayload.given_name);
  console.log('Family Name: ' + responsePayload.family_name);
  console.log("Image URL: " + responsePayload.picture);
  console.log("Email: " + responsePayload.email);
} 
</script>
		</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
