<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
      <h1>ABOUT US</h1>
      <p>Founded in 2023, IT For Hire started as a dedicated platform for the IT world.</p>
      <p>Our mission is to enable users to find professional IT services at a fingertip's notice.</p>
      <h2>Interested in joining us?</h2>
      <p>Get in touch with us at info@itforhire.com</p>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>